<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header><h1>Products</h1></header>

<nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
</nav>

<section class="products">
{% for product in products %}
<div class="card">
    <h3>{{ product.name }}</h3>
    <div class="price">₹{{ product.price }}</div>
    <button onclick="addToCart({{ product.id }})">Add to Cart</button>
</div>
{% endfor %}
</section>

<script>
function addToCart(id) {
    fetch(`/api/add-to-cart/${id}`, { method: "POST" })
    .then(() => alert("Added to cart ✔"));
}
</script>

</body>
</html>
